.center {
  height: 265px;
  margin: auto;
  width: 35%;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;	
  background: white;
}





 .img-container {
        text-align: center;
 }